<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/web-server/public/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Hava Hoxha. It uses data from weatherstack.com and positionstack.com.</p>
        <img src="/img/me.jpg" alt="my picture" class="portrait">
    </div>
    
    {{>footer}}
</body>

</html>